@font-face{
    font-family: "tlgotdMayan";
    src: url("MayanFonts/mayanglyphsfill-Regular.woff");
}

html body {
    margin: 0;
}

p {
    margin-left: 15%;
    margin-right: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: justify;
}

.mayan {
    font-family: "tlgotdMayan";
    font-size: 70px;
    text-align: center;
    margin: 10px;
}

#upsidedown-temple {
    transform: rotate(180deg);
}

#title {
    background-color: black;
    color: rgb(200,0,0);
    max-width: 100vw;
    height: calc(100vh - 45px);
}

#title img {
    max-height: 100%;
    width: 100%;
    height: 100%;
}

#top-bar {
    width: 100vw;
    height: 45px;
    background-color: black;
    overflow: hidden;
    padding-bottom: 5px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(200,0,0);
}

#top-bar span {
    font-family: "tlgotdMayan";
    font-size: 35px;
    color: rgb(200,0,0);
    padding-left: 5px;
}

#footer {
    width: 100%;
}

.eyes-transition {
    transition: opacity 100ms;
}

.eyes-closed {
    opacity: 0;
}

.eyes-open {
    opacity: 1;
}